body {
 	background-color: #f6f4fd;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	font-family: 'Antonio', sans-serif;
	font-size: 12pt;
}
body * {
	color: #646464;
	text-shadow: 1px 1px rgb(255, 255, 255);
}
a {
 text-decoration: none;
}
a:hover {
	border-bottom: solid 3px rgb(0, 0, 0);
}
h1, h2, h3, h4, h5, h6, li, a, p, figcaption, span {
 	padding: 0.25em;
	margin: 0.25em;
}
h6 {
 font-size: 1.25em;
}
h5 {
 font-size: 1.5em;
}
h4 {
 font-size: 1.75em;
}
h3 {
 font-size: 2em;
}
h2 {
 font-size: 2.25em;
}
h1 {
 font-size: 2.5em;
 color: #FFD533;
}
.hiddenHeaders {
 display: none;
}
nav ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 0.75em;
}
nav li {
 white-space: nowrap;
}
li.navLi {
	margin: 0;
 	border-bottom: solid 2px #FF3433;
}
li.currentTab {
	border: solid 2px #FF3433;
	border-bottom: none;
	border-radius: 10px 10px 0 0;
	margin-bottom: 0.2em;
}
i.fa-home {
	color: #FF3433;
	margin-top: -0.5em;
}
i.fa-youtube {
	color: #FF3433;
}
i.fa-google {
	color: #FFD533;
}
i.fa-yelp {
	color: #FF3433;
}
i.fa-facebook-square {
	color: #2E4CE6;
}
i.fa-peace {
	color: purple;
}
div.nameNLogoBar {
 display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
span.siteName {
 font-size: 2.75em;
	padding: 0;
	margin: 0;
}
img.ourCoLogo {
	width: 10em;
	margin: 1em 0 0 0;
}
img.themeObjectImg {
 transform: rotate(-90deg);
	position: absolute;
	right: 0;
	z-index: -999;
	width: 30vw;
}
div.tagRow {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	margin: 0.5em;
}
div.tagRow i {
	font-size: 5em;
}
main p {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: thin;
	line-height: normal;
}
main h1, main h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
}
p {
 	line-height: 1.5em;
	font-weight: light;
	margin: 1em;
	text-align: justify;
}
img.wkExImg, img.galImg {
 border-radius: 20px;
	box-shadow: 2px 2px 10px black;
	margin: 1em;
}
div.workExDiv {
 border-radius: 20px;
	box-shadow: 2px 2px 10px black;
	margin: 1em;
	height: 300px;
	max-width: 600px;
	background-color: black;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
h3.workExH3 {
	-webkit-text-stroke: 0.1px black;
	/* text-shadow: 3px 3px #19496e, 2px 2px 10px white; */
}
div.workExDiv:nth-child(2) {
  background-image: url("https://picsum.photos/500/300");
}
div.workExDiv:nth-child(3) {
  background-image: url("https://picsum.photos/501/301");
}
div.workExDiv:nth-child(4) {
  background-image: url("https://picsum.photos/502/302");
}
div.workExDiv:nth-child(5) {
  background-image: url("https://picsum.photos/503/303");
}
div.workExDiv:nth-child(6) {
  background-image: url("https://picsum.photos/504/304");
}
div.workExDiv:nth-child(7) {
  background-image: url("https://picsum.photos/505/305");
}
figure {
	max-width: 800px;
	border: solid 3px lightblue;
	border-radius: 20px;
	margin: 1em 1em 2em 1em;
}
div.galDiv {
	background-image: url("https://picsum.photos/800/500");
	max-width: 800px;
	height: 500px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}
figcaption {
	text-align: center;
	margin-bottom: 1em;
}
span.galButton {
	/* margin: 0 -2em 0 -2em; */
	font-size: 5em;
	padding: 0;
	text-shadow: 2px 2px black;
}
hr {
	width: 99%;
}